
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="2000px" height="2000px" viewBox="0 0 2000 2000" enable-background="new 0 0 2000 2000" xml:space="preserve">
<line fill="none" stroke="#000000" stroke-width="322" stroke-miterlimit="10" x1="190.014" y1="190.5" x2="1805.57" y2="1815.056"/>
<line fill="none" stroke="#000000" stroke-width="322" stroke-miterlimit="10" x1="1812.5" y1="192.569" x2="187.944" y2="1808.125"/>
</svg>
