
.active{
  a{
    p{
      color: $orange !important;
    }
  }
}


.header{
  position:fixed;
  display: block;
  width:70px;
  height: 70px;
  left:$margin-sides;
  top:$margin-sides;
  z-index: $z-header;
  @include respond-to(phone){
    top:auto;
    left: auto;
    right:$margin-sides;
    bottom:$margin-sides;
    width:50px;
    height: 50px;
  }
  .header-wrapper{
    width:100%;
    height:auto;
    position: relative;
    .nav-close{
      position: absolute;
    }
    .logo-wrapper{
      position: absolute;
      background-color: #000000;
      @include hover-effect-background-color($black, $orange);
      width: 100%;
      height:70px;
      right: 0;
      top: 0;
      @include respond-to(phone){
        width:50px;
        height: 50px;
      }
      svg{
        width:100%;
        margin: 0;
        position: relative;
        right:0;
        top:0;
      }
    }
  }
}



.nav-close{
  position: relative;
  width: 100%;
  height:auto;
  right: 0;
  top: 0;
  svg{
    width:100%;
    height:100%;
    margin: 0;
    position: relative;
    right:0;
    top:0;

  }
}






.shop{
  position:fixed;
  display: block;
  width:70px;
  height: 70px;
  right:$margin-sides;
  top:$margin-sides;
  z-index: $z-header;
  @include hover-effect-background-color(transparent, $black);
  @include respond-to(phone){
    top:auto;
    right:auto;
    left:$margin-sides;
    bottom:$margin-sides;
    height: auto;
  }

  a{
    display: block;
    width:100%;
    height:auto;
    color:$orange;
    @include subtitle();
    text-align: right;
  }
}




.nav{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: rgba(255,255,255,0.95);
  z-index: $z-nav;
  table{
    @include respond-to(phone){
      height: calc(100vh - 170px);
    }
  }
}

.nav-content{
  width:60vw;
  margin: auto;
  @include respond-to(phone){
    width:100vw;
  }
  .nav-ul{
    .nav-li{
      text-align: center;
      a{
        p{
          @include title();
          @include hover-effect-color($black, $orange);
        }
      }
    }
  }
}






.nav-extra{
  position: fixed;
  left:$margin-sides;
  bottom: $margin-sides;
  a{
    margin-left: 20px;
    display: inline-block;
    @include paragraph();
    @include hover-effect-color($black, $orange);
  }
}

.subscribe-form{
  display: inline-block;
  width:200px;
  .subscribe-form-content{
    width:200px;

    .subscribe-form-email{
      display: inline-block;
      width:150px;
      border-bottom: 1px solid black;
      @include paragraph();
    }
    .subscribe-form-button{
      display: inline-block;
      width:45px;
      border: 0;
      border-radius: 0;
      background-color: #FFFFFF;
      color:#000000;
      @include paragraph();
      &:hover{
        background-color: #000000;
        color:#FFFFFF;
      }
    }
  }
}


.navOpen.ng-hide-add.ng-add-add-active{

  transition:none;
  -ms-transition:none;
  -o-transition:none;
  -moz-transition:none;
  -webkit-transition:none;
}





$animation-bezier: ease-in;
$animation-speed: 0.3s;

.nav-extra{
  left:-200px;
}

.nav-extra.subscribeRight{
  left:20px;
}



.nav-extra.subscribeRight-remove.subscribeRight-remove-active{
  -webkit-transition: subscribe_left $animation-speed $animation-bezier;
  -moz-transition: subscribe_left $animation-speed $animation-bezier;
  -ms-transition: subscribe_left $animation-speed $animation-bezier;
  -o-transition: subscribe_left $animation-speed $animation-bezier;
  transition: subscribe_left $animation-speed $animation-bezier;
}

.nav-extra.subscribeRight-add.subscribeRight-add-active{

  -webkit-transition: subscribe_right $animation-speed $animation-bezier;
  -moz-transition: subscribe_right $animation-speed $animation-bezier;
  -ms-transition: subscribe_right $animation-speed $animation-bezier;
  -o-transition: subscribe_right $animation-speed $animation-bezier;
  transition: subscribe_right $animation-speed $animation-bezier;
}
