@keyframes subscribe_right {
  0% { left:-200px; }
  100% { left:20px;  }
}

@-webkit-keyframes subscribe_right {
  0% { left:-200px; }
  100% { left:20px;  }
}

@-moz-keyframes subscribe_right {
  0% { left:-200px; }
  100% { left:20px;  }
}

@-ms-keyframes subscribe_right {
  0% { left:-200px; }
  100% { left:20px;  }
}

@-o-keyframes subscribe_right {
  0% { left:-200px; }
  100% { left:20px;  }
}



@keyframes subscribe_left {
  0% { left:20px; }
  100% { left:-200px;  }
}

@-webkit-keyframes subscribe_left {
  0% { left:20px; }
  100% { left:-200px;  }
}

@-moz-keyframes subscribe_left {
  0% { left:20px; }
  100% { left:-200px;  }
}

@-ms-keyframes subscribe_left {
  0% { left:20px; }
  100% { left:-200px;  }
}

@-o-keyframes subscribe_left {
  0% { left:20px; }
  100% { left:-200px;  }
}
