/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*.................................................................................*/
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/
/*....................................SCSS MIXINS..................................*/
.active a p {
  color: #ff481b !important; }

.header {
  position: fixed;
  display: block;
  width: 70px;
  height: 70px;
  left: 20px;
  top: 20px;
  z-index: 13;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .header {
      top: auto;
      left: auto;
      right: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px; } }
  .header .header-wrapper {
    width: 100%;
    height: auto;
    position: relative; }
    .header .header-wrapper .nav-close {
      position: absolute; }
    .header .header-wrapper .logo-wrapper {
      position: absolute;
      background-color: #000000;
      background-color: #000000;
      transition: background-color 0.4s ease;
      -webkit-transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      -ms-transition: background-color 0.4s ease;
      -o-transition: background-color 0.4s ease;
      width: 100%;
      height: 70px;
      right: 0;
      top: 0;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      .header .header-wrapper .logo-wrapper:hover {
        background-color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .header .header-wrapper .logo-wrapper {
          width: 50px;
          height: 50px; } }
      .header .header-wrapper .logo-wrapper svg {
        width: 100%;
        margin: 0;
        position: relative;
        right: 0;
        top: 0; }

.nav-close {
  position: relative;
  width: 100%;
  height: auto;
  right: 0;
  top: 0; }
  .nav-close svg {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    right: 0;
    top: 0; }

.shop {
  position: fixed;
  display: block;
  width: 70px;
  height: auto;
  right: 20px;
  top: 20px;
  z-index: 11;
  background-color: transparent;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  .shop:hover {
    background-color: #000000;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .shop:hover {
        background-color: transparent !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .shop:hover {
        background-color: transparent !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .shop:hover {
        background-color: transparent !important; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .shop {
      top: auto;
      right: auto;
      left: 20px;
      bottom: 20px;
      height: auto; } }
  .shop a {
    display: block;
    width: 100%;
    height: auto;
    color: #ff481b;
    font-size: 20px;
    line-height: 30px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: right; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 12; }
  .nav table {
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .nav table {
        height: calc(100vh - 170px); } }

.nav-content {
  width: 60vw;
  margin: auto;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .nav-content {
      width: 100vw; } }
  .nav-content .nav-ul .nav-li {
    text-align: center; }
    .nav-content .nav-ul .nav-li a p {
      font-size: 35px;
      line-height: 70px;
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: 5px;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      color: #000000;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -o-transition: color 0.4s ease; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .nav-content .nav-ul .nav-li a p {
          font-size: 30px;
          line-height: 55px; } }
      .nav-content .nav-ul .nav-li a p:hover {
        color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }

.nav-extra {
  position: fixed;
  left: 20px;
  bottom: 20px; }
  .nav-extra a {
    margin-left: 20px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    font-family: helvetica;
    color: #000000;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease; }
    .nav-extra a:hover {
      color: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .nav-extra a:hover {
          color: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .nav-extra a:hover {
          color: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .nav-extra a:hover {
          color: #000000 !important; } }

.subscribe-form {
  display: inline-block;
  width: 200px; }
  .subscribe-form .subscribe-form-content {
    width: 200px; }
    .subscribe-form .subscribe-form-content .subscribe-form-email {
      display: inline-block;
      width: 150px;
      border-bottom: 1px solid black;
      font-size: 12px;
      line-height: 22px;
      font-family: helvetica; }
    .subscribe-form .subscribe-form-content .subscribe-form-button {
      display: inline-block;
      width: 45px;
      border: 0;
      border-radius: 0;
      background-color: #FFFFFF;
      color: #000000;
      font-size: 12px;
      line-height: 22px;
      font-family: helvetica; }
      .subscribe-form .subscribe-form-content .subscribe-form-button:hover {
        background-color: #000000;
        color: #FFFFFF; }

.navOpen.ng-hide-add.ng-add-add-active {
  transition: none;
  -ms-transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

.nav-extra {
  left: -200px; }

.nav-extra.subscribeRight {
  left: 20px; }

.nav-extra.subscribeRight-remove.subscribeRight-remove-active {
  -webkit-transition: subscribe_left 0.3s ease-in;
  -moz-transition: subscribe_left 0.3s ease-in;
  -ms-transition: subscribe_left 0.3s ease-in;
  -o-transition: subscribe_left 0.3s ease-in;
  transition: subscribe_left 0.3s ease-in; }

.nav-extra.subscribeRight-add.subscribeRight-add-active {
  -webkit-transition: subscribe_right 0.3s ease-in;
  -moz-transition: subscribe_right 0.3s ease-in;
  -ms-transition: subscribe_right 0.3s ease-in;
  -o-transition: subscribe_right 0.3s ease-in;
  transition: subscribe_right 0.3s ease-in; }

/*....................................General settings..................................*/
/*.....................TEXT MARK STYLES......................*/
::-moz-selection {
  background: #ff481b;
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: #ff481b;
  color: #FFFFFF;
  text-shadow: none; }

/*.........................................................*/
.ng-click-active {
  color: #ff481b;
  stroke: #ff481b; }

/*....................HIDING SCROLLBAR.....................*/
::-webkit-scrollbar {
  display: none; }

main {
  -webkit-overflow-scrolling: touch; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*.....................GENERAL STYLES......................*/
html {
  font-family: helvetica;
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0, 0;
  padding: 0, 0;
  display: table;
  text-transform: uppercase;
  font-family: helvetica;
  /* Set the background color of the HTML page to black */
  background-color: #FFFFFF; }

p, a, li {
  font-size: 12px;
  list-style-type: none;
  letter-spacing: 1px;
  color: #000000; }

input, textarea, select, a, li {
  text-decoration: none; }

/*.........................MAIN............................*/
main {
  height: auto;
  position: relative;
  display: block;
  list-style-type: none;
  display: table; }

table {
  width: 100%;
  height: 100%; }
  table tr td {
    vertical-align: middle;
    height: 100%; }

/*.............................NG-CLOAK............................*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

.collectionMobileOverflow {
  overflow: hidden;
  height: 100vh;
  display: block; }

/*.............................Loader............................*/
.page-loader-div {
  display: block;
  height: 100vh;
  opacity: 1;
  width: 100vw;
  float: left;
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed; }
  .page-loader-div .loading-logo {
    position: relative;
    margin: auto;
    display: block;
    width: 200px; }

.home {
  height: 100vh;
  width: 100vw;
  position: relative; }

table {
  width: 100%;
  height: 100%; }
  table tr td {
    vertical-align: middle;
    height: 100%; }

.home-video {
  width: 60vw;
  margin: auto; }
  .home-video iframe {
    width: 60vw; }

.about {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; }

.about-list {
  width: 100vw;
  height: auto; }
  .about-list .about-section {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .about-list .about-section .about-section-entry {
      display: inline-block;
      width: auto;
      height: 300px;
      margin-left: 20px; }
      .about-list .about-section .about-section-entry .about-section-entry-image {
        width: 500px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .about-list .about-section .about-section-entry .about-section-entry-text {
        width: auto;
        height: 300px;
        max-width: 70vw;
        font-size: 12px;
        line-height: 22px;
        font-family: helvetica;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .about-list .about-section .about-section-entry .about-section-entry-text {
            width: 90vw;
            max-width: 70vw;
            overflow: scroll; } }
        .about-list .about-section .about-section-entry .about-section-entry-text span {
          display: block;
          white-space: normal; }

.about-current {
  position: fixed;
  bottom: 20px;
  width: 70vw;
  left: 50%;
  margin-left: -35vw;
  z-index: 10;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .about-current {
      bottom: initial;
      top: 20px;
      width: 90vw;
      margin-left: -45vw; } }
  .about-current .about-current-season p {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    text-align: center; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .about-current .about-current-season p {
        font-size: 30px;
        line-height: 55px; } }

.about-arrows {
  position: fixed;
  right: 20px;
  bottom: 20px;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .about-arrows {
      right: 85px; } }
  .about-arrows .about-arrows-up {
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    -o-transform: rotate(180deg);
    /* Safari */
    -moz-transform: rotate(180deg);
    /* Safari */
    transform-origin: 0 0;
    transform-origin: center;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    .about-arrows .about-arrows-up svg g, .about-arrows .about-arrows-up svg path, .about-arrows .about-arrows-up svg rect, .about-arrows .about-arrows-up svg line, .about-arrows .about-arrows-up svg polyline {
      stroke: #000000;
      transition: stroke 0.4s ease;
      -webkit-transition: stroke 0.4s ease;
      -moz-transition: stroke 0.4s ease;
      -ms-transition: stroke 0.4s ease;
      -o-transition: stroke 0.4s ease; }
    .about-arrows .about-arrows-up:hover svg g, .about-arrows .about-arrows-up:hover svg path, .about-arrows .about-arrows-up:hover svg rect, .about-arrows .about-arrows-up:hover svg line, .about-arrows .about-arrows-up:hover svg polyline {
      stroke: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .about-arrows .about-arrows-up:hover svg g, .about-arrows .about-arrows-up:hover svg path, .about-arrows .about-arrows-up:hover svg rect, .about-arrows .about-arrows-up:hover svg line, .about-arrows .about-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .about-arrows .about-arrows-up:hover svg g, .about-arrows .about-arrows-up:hover svg path, .about-arrows .about-arrows-up:hover svg rect, .about-arrows .about-arrows-up:hover svg line, .about-arrows .about-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .about-arrows .about-arrows-up:hover svg g, .about-arrows .about-arrows-up:hover svg path, .about-arrows .about-arrows-up:hover svg rect, .about-arrows .about-arrows-up:hover svg line, .about-arrows .about-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .about-arrows .about-arrows-up {
        width: 28px;
        height: 28px; } }
    .about-arrows .about-arrows-up svg {
      width: 100%;
      height: 100%;
      display: block; }
  .about-arrows .about-arrows-down {
    display: block;
    width: 50px;
    height: 50px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    .about-arrows .about-arrows-down svg g, .about-arrows .about-arrows-down svg path, .about-arrows .about-arrows-down svg rect, .about-arrows .about-arrows-down svg line, .about-arrows .about-arrows-down svg polyline {
      stroke: #000000;
      transition: stroke 0.4s ease;
      -webkit-transition: stroke 0.4s ease;
      -moz-transition: stroke 0.4s ease;
      -ms-transition: stroke 0.4s ease;
      -o-transition: stroke 0.4s ease; }
    .about-arrows .about-arrows-down:hover svg g, .about-arrows .about-arrows-down:hover svg path, .about-arrows .about-arrows-down:hover svg rect, .about-arrows .about-arrows-down:hover svg line, .about-arrows .about-arrows-down:hover svg polyline {
      stroke: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .about-arrows .about-arrows-down:hover svg g, .about-arrows .about-arrows-down:hover svg path, .about-arrows .about-arrows-down:hover svg rect, .about-arrows .about-arrows-down:hover svg line, .about-arrows .about-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .about-arrows .about-arrows-down:hover svg g, .about-arrows .about-arrows-down:hover svg path, .about-arrows .about-arrows-down:hover svg rect, .about-arrows .about-arrows-down:hover svg line, .about-arrows .about-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .about-arrows .about-arrows-down:hover svg g, .about-arrows .about-arrows-down:hover svg path, .about-arrows .about-arrows-down:hover svg rect, .about-arrows .about-arrows-down:hover svg line, .about-arrows .about-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .about-arrows .about-arrows-down {
        width: 28px;
        height: 28px; } }
    .about-arrows .about-arrows-down svg {
      width: 100%;
      height: 100%;
      display: block; }

.contact {
  width: 100vw;
  height: 100vh; }

.contact-content {
  width: 600px;
  height: auto;
  margin: auto;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .contact-content {
      width: 100vw; } }
  .contact-content .contact-form {
    width: 600px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .contact-content .contact-form {
        width: 100vw; } }

.form-entry input {
  font-size: 35px;
  line-height: 70px;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 5px;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/
  text-align: center;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form-entry input {
      font-size: 30px;
      line-height: 55px; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form-entry input {
      width: 100vw; } }

.form-message {
  height: 100px; }
  .form-message .form-message-input {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    text-align: center;
    height: 100px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .form-message .form-message-input {
        font-size: 30px;
        line-height: 55px; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .form-message .form-message-input {
        width: 100vw; } }

.form-button {
  position: relative;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  font-size: 35px;
  line-height: 70px;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 5px;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/
  text-align: center;
  height: 100px;
  border: 0;
  background-color: transparent;
  color: #000000;
  color: #000000;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form-button {
      font-size: 30px;
      line-height: 55px; } }
  .form-button:hover {
    color: #ff481b;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .form-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .form-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .form-button:hover {
        color: #000000 !important; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form-button {
      width: 100vw;
      left: 0;
      margin: 0; } }

input, textarea {
  width: 600px;
  outline: 0;
  border: 0;
  color: #000000;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    input, textarea {
      width: 100vw; } }
  input:focus, textarea:focus {
    outline: 0; }

textarea {
  resize: none; }

::-webkit-input-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

::-ms-input-placeholder {
  color: #000000; }

.collection {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; }

.collection-list {
  width: 100vw;
  height: auto; }
  .collection-list .collection-season {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .collection-list .collection-season .collection-season-entry {
      display: inline-block;
      width: 500px;
      height: 300px; }
      .collection-list .collection-season .collection-season-entry .collection-season-entry-image {
        width: 500px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }

.collection-current {
  position: fixed;
  bottom: 20px;
  width: 70vw;
  left: 50%;
  margin-left: -35vw;
  z-index: 10;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .collection-current {
      bottom: initial;
      top: 20px;
      width: 90vw;
      margin-left: -45vw; } }
  .collection-current .collection-current-season p {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    text-align: center; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .collection-current .collection-current-season p {
        font-size: 30px;
        line-height: 55px; } }

.collection-arrows {
  position: fixed;
  right: 20px;
  bottom: 20px;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .collection-arrows {
      right: 85px; } }
  .collection-arrows .collection-arrows-up {
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    -o-transform: rotate(180deg);
    /* Safari */
    -moz-transform: rotate(180deg);
    /* Safari */
    transform-origin: 0 0;
    transform-origin: center;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    .collection-arrows .collection-arrows-up svg g, .collection-arrows .collection-arrows-up svg path, .collection-arrows .collection-arrows-up svg rect, .collection-arrows .collection-arrows-up svg line, .collection-arrows .collection-arrows-up svg polyline {
      stroke: #000000;
      transition: stroke 0.4s ease;
      -webkit-transition: stroke 0.4s ease;
      -moz-transition: stroke 0.4s ease;
      -ms-transition: stroke 0.4s ease;
      -o-transition: stroke 0.4s ease; }
    .collection-arrows .collection-arrows-up:hover svg g, .collection-arrows .collection-arrows-up:hover svg path, .collection-arrows .collection-arrows-up:hover svg rect, .collection-arrows .collection-arrows-up:hover svg line, .collection-arrows .collection-arrows-up:hover svg polyline {
      stroke: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .collection-arrows .collection-arrows-up:hover svg g, .collection-arrows .collection-arrows-up:hover svg path, .collection-arrows .collection-arrows-up:hover svg rect, .collection-arrows .collection-arrows-up:hover svg line, .collection-arrows .collection-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .collection-arrows .collection-arrows-up:hover svg g, .collection-arrows .collection-arrows-up:hover svg path, .collection-arrows .collection-arrows-up:hover svg rect, .collection-arrows .collection-arrows-up:hover svg line, .collection-arrows .collection-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .collection-arrows .collection-arrows-up:hover svg g, .collection-arrows .collection-arrows-up:hover svg path, .collection-arrows .collection-arrows-up:hover svg rect, .collection-arrows .collection-arrows-up:hover svg line, .collection-arrows .collection-arrows-up:hover svg polyline {
          stroke: #000000 !important; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .collection-arrows .collection-arrows-up {
        width: 28px;
        height: 28px; } }
    .collection-arrows .collection-arrows-up svg {
      width: 100%;
      height: 100%;
      display: block; }
  .collection-arrows .collection-arrows-down {
    display: block;
    width: 50px;
    height: 50px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    .collection-arrows .collection-arrows-down svg g, .collection-arrows .collection-arrows-down svg path, .collection-arrows .collection-arrows-down svg rect, .collection-arrows .collection-arrows-down svg line, .collection-arrows .collection-arrows-down svg polyline {
      stroke: #000000;
      transition: stroke 0.4s ease;
      -webkit-transition: stroke 0.4s ease;
      -moz-transition: stroke 0.4s ease;
      -ms-transition: stroke 0.4s ease;
      -o-transition: stroke 0.4s ease; }
    .collection-arrows .collection-arrows-down:hover svg g, .collection-arrows .collection-arrows-down:hover svg path, .collection-arrows .collection-arrows-down:hover svg rect, .collection-arrows .collection-arrows-down:hover svg line, .collection-arrows .collection-arrows-down:hover svg polyline {
      stroke: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .collection-arrows .collection-arrows-down:hover svg g, .collection-arrows .collection-arrows-down:hover svg path, .collection-arrows .collection-arrows-down:hover svg rect, .collection-arrows .collection-arrows-down:hover svg line, .collection-arrows .collection-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .collection-arrows .collection-arrows-down:hover svg g, .collection-arrows .collection-arrows-down:hover svg path, .collection-arrows .collection-arrows-down:hover svg rect, .collection-arrows .collection-arrows-down:hover svg line, .collection-arrows .collection-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .collection-arrows .collection-arrows-down:hover svg g, .collection-arrows .collection-arrows-down:hover svg path, .collection-arrows .collection-arrows-down:hover svg rect, .collection-arrows .collection-arrows-down:hover svg line, .collection-arrows .collection-arrows-down:hover svg polyline {
          stroke: #000000 !important; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .collection-arrows .collection-arrows-down {
        width: 28px;
        height: 28px; } }
    .collection-arrows .collection-arrows-down svg {
      width: 100%;
      height: 100%;
      display: block; }

.committee {
  height: 100vh;
  width: 100vw;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .committee {
      height: calc(100vh - 70px); } }

.committee-content {
  width: 600px;
  height: auto;
  margin: auto; }
  .committee-content .committee-form {
    width: 600px; }

.form-navigation {
  position: fixed;
  width: 100vw;
  bottom: 15px;
  left: 0%;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form-navigation {
      bottom: 100px;
      mix-blend-mode: normal; } }
  .form-navigation .form-navigation-buttons {
    margin: auto;
    width: 400px;
    text-align: center;
    color: white;
    mix-blend-mode: difference;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .form-navigation .form-navigation-buttons {
        mix-blend-mode: normal; } }
    .form-navigation .form-navigation-buttons span {
      font-size: 35px;
      line-height: 70px;
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: 5px;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      color: #000000;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -o-transition: color 0.4s ease;
      color: white;
      mix-blend-mode: difference;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .form-navigation .form-navigation-buttons span {
          font-size: 30px;
          line-height: 55px; } }
      .form-navigation .form-navigation-buttons span:hover {
        color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }
      .form-navigation .form-navigation-buttons span:hover {
        mix-blend-mode: normal; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .form-navigation .form-navigation-buttons span {
          mix-blend-mode: normal;
          color: #000000; } }

.committee-progress {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .committee-progress {
      bottom: initial;
      top: 0;
      height: 50px; } }
  .committee-progress .committee-percentage {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    line-height: 100px;
    color: #FFFFFF;
    height: 100px;
    z-index: 7;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .committee-progress .committee-percentage {
        font-size: 30px;
        line-height: 55px; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .committee-progress .committee-percentage {
        height: 50px;
        line-height: 50px; } }
  .committee-progress .committee-progress-bar {
    height: 100px;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .committee-progress .committee-progress-bar {
        height: 50px; } }

.selected {
  color: #ff481b; }
  .selected label, .selected input, .selected a, .selected p {
    color: #ff481b; }

.social {
  width: 100vw;
  height: 100vh; }

.social-instagram {
  width: 100vw;
  height: 600px;
  overflow-x: scroll;
  overflow-y: hidden; }

.social-link {
  position: fixed;
  left: 50%;
  bottom: 20px;
  width: 200px;
  margin-left: -100px;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .social-link {
      bottom: initial;
      top: 20px; } }
  .social-link a {
    font-size: 20px;
    line-height: 30px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    display: block;
    color: #000000;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease; }
    .social-link a:hover {
      color: #ff481b;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-device-width: 767px) {
        .social-link a:hover {
          color: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
        .social-link a:hover {
          color: #000000 !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
        .social-link a:hover {
          color: #000000 !important; } }

.social-instagram-ul {
  display: table;
  width: auto;
  height: 600px;
  white-space: nowrap;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .social-instagram-ul {
      height: 400px;
      width: auto; } }
  .social-instagram-ul .social-instagram-li {
    display: inline-block;
    height: 600px;
    width: auto;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .social-instagram-ul .social-instagram-li {
        height: 400px;
        width: auto; } }
    .social-instagram-ul .social-instagram-li .social-loading {
      width: 100%;
      height: 600px;
      margin: auto;
      display: block;
      position: relative;
      /*  @if $media == large-desktop {
          @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
        }*/ }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .social-instagram-ul .social-instagram-li .social-loading {
          height: 400px;
          width: auto; } }
      .social-instagram-ul .social-instagram-li .social-loading p {
        width: 100%;
        text-align: center;
        height: 30px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -15px;
        font-size: 12px;
        line-height: 22px;
        font-family: helvetica; }
    .social-instagram-ul .social-instagram-li img {
      width: 80%;
      margin: auto;
      display: block; }
    .social-instagram-ul .social-instagram-li video {
      width: 80%;
      margin: auto;
      display: block; }

.stockist {
  position: relative;
  width: 100vw;
  height: 100vh; }

.stockist-list {
  position: absolute;
  width: 50vw;
  height: 100vh;
  right: 0;
  top: 0;
  border-left: 10px solid #000000;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .stockist-list {
      position: absolute;
      width: 100vw;
      height: 50vh;
      left: 0;
      top: 50%;
      border-left: none;
      border-top: 10px solid #000000; } }
  .stockist-list .stockist-list-filter {
    width: calc(50vw - 10px);
    margin: auto;
    margin-top: 100px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .stockist-list .stockist-list-filter {
        margin-top: 0px;
        width: 100vw; } }
    .stockist-list .stockist-list-filter a {
      width: 50%;
      display: block;
      float: left;
      text-align: center;
      height: 50px;
      line-height: 50px; }
  .stockist-list .stockist-list-ul {
    width: 45vw;
    height: auto;
    display: table;
    position: relative;
    left: 2.5vw;
    top: 2.5vw;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .stockist-list .stockist-list-ul {
        width: 100vw;
        height: auto;
        display: table;
        position: relative;
        left: 0vw;
        top: 25px; } }
    .stockist-list .stockist-list-ul .stockist-list-li {
      width: 100%;
      text-align: center;
      height: 5vh;
      float: left;
      margin: 0; }
      .stockist-list .stockist-list-ul .stockist-list-li a {
        height: 5vh;
        line-height: 5vh; }

.areaSelected {
  background-color: #000000;
  color: #FFFFFF; }

.storeSelected {
  color: #ff481b; }

.stockist-main {
  position: absolute;
  width: 50vw;
  height: 100vh;
  left: 0;
  top: 0;
  /*  @if $media == large-desktop {
      @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
    }*/ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .stockist-main {
      position: absolute;
      width: 100vw;
      height: 50vh;
      left: 0;
      top: 0; } }
  .stockist-main .stockist-main-text {
    position: relative;
    left: 20px;
    margin-top: 200px;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .stockist-main .stockist-main-text {
        position: relative;
        left: 20px;
        top: 20px;
        width: 90vw;
        margin: 0; } }
    .stockist-main .stockist-main-text .stockist-main-text-name {
      position: relative;
      font-size: 20px;
      line-height: 30px;
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: 5px; }
    .stockist-main .stockist-main-text .stockist-main-text-p {
      position: relative;
      font-size: 12px;
      line-height: 22px;
      font-family: helvetica; }
  .stockist-main .stockist-main-map {
    position: absolute;
    width: 50vw;
    height: 50vh;
    bottom: 0;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .stockist-main .stockist-main-map {
        width: 100vw;
        height: 20vh; } }

/*# sourceMappingURL=app.css.map */
