/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*.................................................................................*/
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/
/*....................................SCSS MIXINS..................................*/
.active a p {
  color: #ff481b !important; }

.header {
  position: fixed;
  display: block;
  width: 70px;
  height: 70px;
  left: 20px;
  top: 20px;
  z-index: 13; }
  .header .header-wrapper {
    width: 100%;
    height: auto;
    position: relative; }
    .header .header-wrapper .nav-close {
      position: absolute; }
    .header .header-wrapper .logo-wrapper {
      position: absolute;
      background-color: #000000;
      background-color: #000000;
      transition: background-color 0.4s ease;
      -webkit-transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      -ms-transition: background-color 0.4s ease;
      -o-transition: background-color 0.4s ease;
      width: 100%;
      height: 70px;
      right: 0;
      top: 0; }
      .header .header-wrapper .logo-wrapper:hover {
        background-color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .header .header-wrapper .logo-wrapper:hover {
            background-color: #000000 !important; } }
      .header .header-wrapper .logo-wrapper svg {
        width: 100%;
        margin: 0;
        position: relative;
        right: 0;
        top: 0; }

.nav-close {
  position: relative;
  width: 100%;
  height: auto;
  right: 0;
  top: 0; }
  .nav-close svg {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    right: 0;
    top: 0; }

.shop {
  position: fixed;
  display: block;
  width: 70px;
  height: 70px;
  right: 20px;
  top: 20px;
  z-index: 13;
  background-color: transparent;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease; }
  .shop:hover {
    background-color: #000000;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .shop:hover {
        background-color: transparent !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .shop:hover {
        background-color: transparent !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .shop:hover {
        background-color: transparent !important; } }
  .shop a {
    display: block;
    width: 100%;
    height: auto;
    color: #ff481b;
    font-size: 20px;
    line-height: 30px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: right; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 12; }

.nav-content {
  width: 60vw;
  margin: auto; }
  .nav-content .nav-ul .nav-li {
    text-align: center; }
    .nav-content .nav-ul .nav-li a p {
      font-size: 35px;
      line-height: 70px;
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: 5px;
      color: #000000;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -o-transition: color 0.4s ease; }
      .nav-content .nav-ul .nav-li a p:hover {
        color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .nav-content .nav-ul .nav-li a p:hover {
            color: #000000 !important; } }

.navOpen.ng-hide-add.ng-add-add-active {
  transition: none;
  -ms-transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

/*....................................General settings..................................*/
/*.....................TEXT MARK STYLES......................*/
::-moz-selection {
  background: #ff481b;
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: #ff481b;
  color: #FFFFFF;
  text-shadow: none; }

/*.........................................................*/
.ng-click-active {
  color: #ff481b;
  stroke: #ff481b; }

/*....................HIDING SCROLLBAR.....................*/
::-webkit-scrollbar {
  display: none; }

* {
  -webkit-overflow-scrolling: touch; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*.....................GENERAL STYLES......................*/
html {
  font-family: helvetica;
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0, 0;
  padding: 0, 0;
  display: table;
  text-transform: uppercase;
  font-family: helvetica;
  /* Set the background color of the HTML page to black */
  background-color: #FFFFFF; }

p, a, li {
  font-size: 12px;
  list-style-type: none;
  letter-spacing: 1px;
  color: #000000; }

input, textarea, select, a, li {
  text-decoration: none; }

/*.........................MAIN............................*/
main {
  height: auto;
  position: relative;
  display: block;
  list-style-type: none;
  display: table; }

table {
  width: 100%;
  height: 100%; }
  table tr td {
    vertical-align: middle;
    height: 100%; }

/*.............................NG-CLOAK............................*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

/*.............................Loader............................*/
.page-loader-div {
  display: block;
  height: 100vh;
  opacity: 1;
  width: 100vw;
  float: left;
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed; }
  .page-loader-div .loading-logo {
    position: relative;
    margin: auto;
    display: block;
    width: 200px; }

.home {
  height: 100vh;
  width: 100vw;
  position: relative; }

table {
  width: 100%;
  height: 100%; }
  table tr td {
    vertical-align: middle;
    height: 100%; }

.home-video {
  width: 60vw;
  margin: auto; }
  .home-video iframe {
    width: 60vw; }

.about {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; }

.about-list {
  width: 100vw;
  height: auto; }
  .about-list .about-section {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .about-list .about-section .about-section-entry {
      display: inline-block;
      width: 500px;
      height: 300px; }
      .about-list .about-section .about-section-entry .about-section-entry-image {
        width: 500px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .about-list .about-section .about-section-entry .about-section-entry-text {
        width: 500px;
        height: 300px;
        font-size: 12px;
        line-height: 22px;
        font-family: helvetica; }

.about-current {
  position: fixed;
  bottom: 20px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  z-index: 10; }
  .about-current .about-current-season p {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center; }

.about-arrows {
  position: fixed;
  right: 20px;
  bottom: 20px; }
  .about-arrows .about-arrows-up {
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    -o-transform: rotate(180deg);
    /* Safari */
    -moz-transform: rotate(180deg);
    /* Safari */
    transform-origin: 0 0;
    transform-origin: center; }
    .about-arrows .about-arrows-up svg {
      width: 100%;
      height: 100%;
      display: block; }
  .about-arrows .about-arrows-down {
    display: block;
    width: 50px;
    height: 50px; }
    .about-arrows .about-arrows-down svg {
      width: 100%;
      height: 100%;
      display: block; }

.contact {
  width: 100vw;
  height: 100vh; }

.contact-content {
  width: 600px;
  height: auto;
  margin: auto; }
  .contact-content .contact-form {
    width: 600px; }

.form-entry input {
  font-size: 35px;
  line-height: 70px;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center; }

.form-message {
  height: 100px; }
  .form-message .form-message-input {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    height: 100px; }

.form-button {
  position: relative;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  font-size: 35px;
  line-height: 70px;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  height: 100px;
  border: 0;
  background-color: transparent;
  color: #000000;
  color: #000000;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease; }
  .form-button:hover {
    color: #ff481b;
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/
    /*  @if $media == large-desktop {
        @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
      }*/ }
    @media only screen and (min-width: 0px) and (max-device-width: 767px) {
      .form-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
      .form-button:hover {
        color: #000000 !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
      .form-button:hover {
        color: #000000 !important; } }

input, textarea {
  width: 600px;
  outline: 0;
  border: 0;
  color: #000000; }
  input:focus, textarea:focus {
    outline: 0; }

textarea {
  resize: none; }

::-webkit-input-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

::-ms-input-placeholder {
  color: #000000; }

.collection {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden; }

.collection-list {
  width: 100vw;
  height: auto; }
  .collection-list .collection-season {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .collection-list .collection-season .collection-season-entry {
      display: inline-block;
      width: 500px;
      height: 300px; }
      .collection-list .collection-season .collection-season-entry .collection-season-entry-image {
        width: 500px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }

.collection-current {
  position: fixed;
  bottom: 20px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  z-index: 10; }
  .collection-current .collection-current-season p {
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center; }

.collection-arrows {
  position: fixed;
  right: 20px;
  bottom: 20px; }
  .collection-arrows .collection-arrows-up {
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari */
    -o-transform: rotate(180deg);
    /* Safari */
    -moz-transform: rotate(180deg);
    /* Safari */
    transform-origin: 0 0;
    transform-origin: center; }
    .collection-arrows .collection-arrows-up svg {
      width: 100%;
      height: 100%;
      display: block; }
  .collection-arrows .collection-arrows-down {
    display: block;
    width: 50px;
    height: 50px; }
    .collection-arrows .collection-arrows-down svg {
      width: 100%;
      height: 100%;
      display: block; }

.committee {
  height: 100vh;
  width: 100vw; }

.committee-content {
  width: 600px;
  height: auto;
  margin: auto; }
  .committee-content .committee-form {
    width: 600px; }

.form-navigation {
  position: fixed;
  width: 100vw;
  bottom: 15px;
  left: 0%;
  z-index: 10;
  color: white;
  mix-blend-mode: difference; }
  .form-navigation .form-navigation-buttons {
    margin: auto;
    width: 400px;
    text-align: center;
    color: white;
    mix-blend-mode: difference; }
    .form-navigation .form-navigation-buttons span {
      font-size: 35px;
      line-height: 70px;
      font-family: helvetica;
      font-weight: bold;
      letter-spacing: 5px;
      color: #000000;
      transition: color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -o-transition: color 0.4s ease;
      mix-blend-mode: difference;
      color: white; }
      .form-navigation .form-navigation-buttons span:hover {
        color: #ff481b;
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/
        /*  @if $media == large-desktop {
            @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
          }*/ }
        @media only screen and (min-width: 0px) and (max-device-width: 767px) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: portrait) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1022px) and (orientation: landscape) {
          .form-navigation .form-navigation-buttons span:hover {
            color: #000000 !important; } }

.committee-progress {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0; }
  .committee-progress .committee-percentage {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 35px;
    line-height: 70px;
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 100px;
    color: #FFFFFF;
    height: 100px;
    z-index: 7; }
  .committee-progress .committee-progress-bar {
    height: 100px;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0; }

.social {
  width: 100vw;
  height: 100vh; }

.social-instagram {
  width: 100vw;
  height: 600px;
  overflow-x: scroll;
  overflow-y: hidden; }

.social-instagram-ul {
  display: table;
  width: auto;
  height: 600px;
  white-space: nowrap; }
  .social-instagram-ul .social-instagram-li {
    display: inline-block;
    height: 600px;
    width: 600px; }
    .social-instagram-ul .social-instagram-li img {
      width: 80%;
      margin: auto;
      display: block; }
    .social-instagram-ul .social-instagram-li video {
      width: 80%;
      margin: auto;
      display: block; }

/*# sourceMappingURL=app.css.map */
