<div class="social" ng-controller="socialCtrl" summary="this is the content of social">

  <table>
    <tr>
      <td>
          <div class="social-instagram">
            <ul class="social-instagram-ul">
              <li class="social-instagram-li" ng-repeat="s in instaTotal track by $index">
                <table>
                  <tr>
                    <td>

                      <div class="social-loading" ng-show="socialLoading">
                        <p>loading...</p>
                      </div>

                      <img class="social-instagram-img" src="{{s.images.standard_resolution.url}}" alt="{{s.caption.text}}" ng-if="s.type == 'image'" ng-hide="socialLoading"/>
                      <video autoplay loop muted poster="{{s.images.standard_resolution.url}}" ng-if="s.type == 'video'" ng-hide="socialLoading">
                        <source src="{{s.videos.standard_resolution.url}}" type="video/mp4">
                      </video>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
      </td>
    </tr>
  </table>





  <div class="social-link">
    <a href="https://www.instagram.com/staplepigeon/" target="_blank">@staplepigeon</a>
  </div>

</div>
