.social{
  width:100vw;
  height:100vh;
}


.social-instagram{
  width:100vw;
  height:600px;
  overflow-x: scroll;
  overflow-y: hidden;
}


.social-link{
  position: fixed;
  left:50%;
  bottom:$margin-sides;
  width: 200px;
  margin-left:-100px;
  @include respond-to(phone){
    bottom:initial;
    top:$margin-sides;
  }
  a{
    @include subtitle();
    text-align: center;
    display: block;
    @include hover-effect-color($black, $orange);
  }
}



.social-instagram-ul{
  display: table;
  width: auto;
  height:600px;
  white-space:nowrap;
  @include respond-to(phone){
    height: 400px;
    width: auto;
  }
  .social-instagram-li{
    display: inline-block;
    height: 600px;
    width: auto;
    @include respond-to(phone){
      height: 400px;
      width: auto;
    }
    .social-loading{
      width:100%;
      height: 600px;
      margin: auto;
      display: block;
      position: relative;
      @include respond-to(phone){
        height: 400px;
        width: auto;
      }
      p{
        width:100%;
        text-align: center;
        height:30px;
        position: absolute;
        left:0;
        top:50%;
        margin-top: -15px;
        @include paragraph();
      }
    }

    img{
      width:80%;
      margin: auto;
      display: block;
    }

    video{
      width:80%;
      margin: auto;
      display: block;
    }

  }
}
