
.home{
  height:100vh;
  width: 100vw;
  position: relative;
}



table{
  width:100%;
  height:100%;
  tr{
    td{
      vertical-align: middle;
      height: 100%;
    }
  }
}


.home-video{
  width:60vw;
  margin: auto;
  iframe{
    width:60vw;
  }
}
