<div class="committee" ng-controller="committeeCtrl" summary="this is the content of committee">

  <table>
    <tr>
      <td>
          <div class="committee-content">

                                            <!-- SHOW ERROR/SUCCESS MESSAGES -->
                                              <div id="messages" ng-show="message">{{ message }}</div>



                                              <!-- errors -->
                                                <div class="alert alert-danger" ng-show="error">
                                                <button class="close" data-dismiss="alert">x</button>

                                                </div>

                                                <div class="alert-success" ng-show="success">

                                                   We received your message. Thank you for your interest.
                                                  <p class="back-button"><a href="/contact" ng-click="contactMobileOutsideBackLink()">back</a></p>
                                                </div>

            <!-- form -->
            <form class="committee-form" role="form" name="contactForm" novalidate ng-hide="hideContact">
              <!-- ng-submit="processFormCommittee()" -->

              <committee-sections></committee-sections>



              <div class="form-navigation">
                <p class="form-navigation-buttons">
                    <span ng-click="prevSectionCommittee()" ng-hide="(committeeStatus == 0 || committeeStatus == 0)">previous </span>
                    <span ng-click="nextSectionCommittee()" ng-hide="committeeStatus == 19">next</span>
                </p>
              </div>



              <button class="form-button" type="submit" ng-show="!completedForm && (committeeStatus == 19)" ng-class="{'contactDisabled': contactForm.$invalid}" ng-click="processFormCommittee()" ng-disabled="contactForm.$invalid">SUBMIT</button>
          </form>
        </div>








    </td>
  </tr>
</table>





<div class="committee-progress" >
  <p class="committee-percentage">
    {{committeePercentage}}%
  </p>
  <div class="committee-progress-bar" style="width: {{committeeProgress}}vw">

  </div>
</div>


<!-- <div class="committee-about">
  The Staple Committee is a network of forward thinking individuals spread out across the globe. Committee members help spark interest in everything relevant to Staple and the 'Staple lifestyle': news, events, design happenings, clothing exclusives, art openings, etc... The Committee currently has open positions available for energetic and ambitious individuals looking to gain experience in fashion, design, marketing and promotion.
  We are recruiting individuals who have strong communication and organizational skills combined with a passion for fashion, design, art, music, sports and technology. To qualify as a Committee member, fill out the application below and we'll get back to as soon as possible!
  Thanks for your interest in The Positive Social Contagion.
</div> -->



</div>
