
.committee{
  height:100vh;
  width:100vw;
  @include respond-to(phone){
    height: calc(100vh - 70px);
  }
}
.committee-content{
  width:600px;
  height:auto;
  margin: auto;
  .committee-form{
      width:600px;
  }
}



.form-navigation{
  position: fixed;
  width:100vw;
  bottom:15px;
  left:0%;
  z-index:$z-committee-buttons;
  color: white;
  mix-blend-mode: difference;
  @include respond-to(phone){
    bottom: 100px;
    mix-blend-mode: normal;
  }

  .form-navigation-buttons{
    margin: auto;
    width:400px;
    text-align: center;
    color: white;
    mix-blend-mode: difference;
    @include respond-to(phone){
      mix-blend-mode: normal;
    }

    span{
      @include title();
      @include hover-effect-color($black, $orange);

        color: white;
      mix-blend-mode: difference;
      &:hover{
        mix-blend-mode: normal;
      }

      @include respond-to(phone){
        mix-blend-mode: normal;
        color: #000000;
      }


      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;

    }

  }
}






.committee-progress{
  width:100vw;
  height:100px;
  position: fixed;
  bottom:0;
  left:0;
  @include respond-to(phone){
    bottom: initial;
    top:0;
    height:50px;
  }
  .committee-percentage{
    position: absolute;
    left:$margin-sides;
    bottom:0;
    @include title();
    line-height: 100px;
    color:#FFFFFF;
    height:100px;
    z-index: $z-percentage;
    @include respond-to(phone){
      height: 50px;
      line-height: 50px;
    }
  }
  .committee-progress-bar{
    height:100px;
    position: absolute;
    background-color: #000000;
    top:0;
    left:0;
    @include respond-to(phone){
      height: 50px;
    }
  }
}





.selected{
  color: $orange;
  label, input, a, p{
    color: $orange;
  }
}
