
.committee{
  height:100vh;
  width:100vw;
}
.committee-content{
  width:600px;
  height:auto;
  margin: auto;
  .committee-form{
      width:600px;
  }
}



.form-navigation{
  position: fixed;
  width:100vw;
  bottom:15px;
  left:0%;
  z-index:$z-committee-buttons;
  // margin-left: -200px;
  color: white;
  mix-blend-mode: difference;
  .form-navigation-buttons{
    margin: auto;
    width:400px;
    text-align: center;
    color: white;
    mix-blend-mode: difference;

    span{
      @include title();
      @include hover-effect-color($black, $orange);
      mix-blend-mode: difference;
      color: white;

    }

  }
}






.committee-progress{
  width:100vw;
  height:100px;
  position: fixed;
  bottom:0;
  left:0;
  .committee-percentage{
    position: absolute;
    left:$margin-sides;
    bottom:0;
    @include title();
    line-height: 100px;
    color:#FFFFFF;
    height:100px;
    z-index: $z-percentage;
  }
  .committee-progress-bar{
    height:100px;
    position: absolute;
    background-color: #000000;
    top:0;
    left:0;

  }
}
